<div class="container" id="homeCoponent">
  <div>
    <p class="text-center">
      <img id="iMuhiraOpenSourceLogoId" src="./assets/images/logos/iMuhiraOpenSourceLogo.gif"
        class="img-fluid rounded mx-auto d-block" alt="iMuhiraOpenSourceLogo.PNG">
        {{ 'home.title.1' | translate }}
    </p>
    <br>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-sm">
        <a routerLink="/joinUs" class="btn btn-outline-primary">{{ 'home.join' | translate }}</a>
      </div>
      <div class="col-sm">
        <a routerLink="/exploreProjects" class="btn btn-outline-primary">{{ 'home.explore.project' | translate }}</a></div>
      <div class="col-sm">
        <a routerLink="/moreInformation" class="btn btn-outline-primary">{{ 'home.more.information' | translate }}</a></div>
    </div>
  </div>
</div>
