<div class="row">
  <div class="col-sm">
    <br><br><br>
    <h1>
      {{ 'home.title.1' | translate }}
    </h1>
    <br><br><br>
    <h4>
      {{ 'home.title.2' | translate }}
    </h4>
    <br><br><br>
    <h6>
      <a href="#" class="badge badge-primary">{{ 'home.join' | translate }}</a>
    </h6>
    <h6>
      <a href="#" class="badge badge-primary">{{ 'home.explore.project' | translate }}</a>
    </h6>
    <h6>
      <a href="#" class="badge badge-primary">{{ 'home.more.information' | translate }}</a>
    </h6>
  </div>
  <div class="col-sm">
    <p>
      <img id="iMuhiraOpenSourceLogoId" src="./assets/images/iMuhiraOpenSourceLogo1.png" class="rounded mx-auto d-block"
        alt="iMuhiraOpenSourceLogo.PNG">
    </p>
  </div>
</div>
