<br>
<br>
<div class="container">
  <p>
    {{ 'more.information.introduction' | translate }}
  </p>
  <ul>
    <li> {{ 'more.information.introduction.1' | translate}}</li>
    <li> {{ 'more.information.introduction.2' | translate}}</li>
    <li> {{ 'more.information.introduction.3' | translate}}</li>
    <li> {{ 'more.information.introduction.4' | translate}}</li>
    <li> {{ 'more.information.introduction.5' | translate}}</li>
    <ul>
      <li> {{ 'more.information.introduction.5.1' | translate}}</li>
      <li> {{ 'more.information.introduction.5.2' | translate}}</li>
      <li> {{ 'more.information.introduction.5.3' | translate}}</li>
    </ul>
    <li> {{ 'more.information.introduction.6' | translate}}</li>
    <li> {{ 'more.information.introduction.7' | translate}}</li>
    <ul>
      <li> {{ 'more.information.introduction.7.1' | translate}}</li>
      <li> {{ 'more.information.introduction.7.2' | translate}}</li>
      <li> {{ 'more.information.introduction.7.3' | translate}}</li>
      <li> {{ 'more.information.introduction.7.4' | translate}}</li>
    </ul>
  </ul>
  <hr>
  <div>
    {{ 'more.information.contact' | translate}}
    <ul>
      <li>
        <a href="mailto:kealdid@gmail.com">Didier Kekenwa</a>
      </li>
      <li>
        <a href="https://fiacre-nsanzabandi.com/">Fiacre Nsanzabandi</a>

      </li>
    </ul>
  </div>
</div>
