<!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron aboutUs">
       <div class="container">
         <h1 class="display-3">L'Open source pour une transformation digitale effective </h1>
         <p>Nous contribuons au partage du progrès technologique au Burundi</p>
       </div>
     </div>
     <hr>


     <div class="container">
       <!-- Example row of columns -->
       <div class="row">
         <div class="col-md-12 text-center">
           <h2>Vision</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         </div>
       </div>
       <hr>
       <div class="row">
         <div class="col-md-4">
           <div class="card">
            <img class="card-img" src="../../assets/images/bg1.jpg" alt="Card image cap">
            <div class="card-img-overlay">
              <div class="card-body">
                <h5 class="card-title">Catalyseur</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card">
           <img class="card-img-top" src="../../assets/images/bg1.jpg" alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Collaboration</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           </div>
           <div class="card-body">
             <a href="#" class="card-link">Card link</a>
             <a href="#" class="card-link">Another link</a>
           </div>
         </div>
        </div>
        <div class="col-md-4">
           <div class="card">
            <img class="card-img-top" src="../../assets/images/bg1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Integration</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
         <div class="col-md-4">
           <h2>Vision</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-4">
           <h2>Mission</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-4">
           <h2>Objectif</h2>
           <p>Son objectif premier est de proposer/porter des applications open source qui répondraient aux besoins burundais des différents acteurs (administrations publiques, institutions privées, population, diaspora, etc.)</p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
       </div>

       <hr>

       <div class="card  mb-3 text-center">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">nee d’une ambition de ses createurs de mobiliser la puissance créative des professionnels burundais du logiciels autour des projets  open source </p>

          </div>
        </div>

     </div> <!-- /container -->
