.bg-imuhira{
  background-color: #c45911;
}

 .text-imuhira{
   color:#c45911;
 }
.jumbotron{
  background-color: #fff!important;
}

.bg-custom{
  background-blend-mode: multiply, multiply, multiply, multiply, normal;
  background-image: linear-gradient(to bottom left, rgba(225,225,225,0.3) 0%, rgba(225,225,225,0.3) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),linear-gradient(to bottom right, rgba(225,225,225,0.3) 0%, rgba(225,225,225,0.3) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),linear-gradient(to top right, rgba(225,225,225,0.3) 0%, rgba(225,225,225,0.3) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),linear-gradient(to top left, rgba(225,225,225,0.3) 0%, rgba(225,225,225,0.3) 49.9%, rgba(225,225,225,0) 50%, rgba(225,225,225,0) 100%),linear-gradient(199deg, #c45911 -20%, #9f480d 25%, #6f3407 50%);
  background-position: top right, top left, bottom left, bottom right, 100%;
background-repeat: no-repeat;
background-size: 70% 25%, 70% 45%, 70% 25%, 110% 85%, 100%;
}
.aboutUs:after{
  content: ' ';
  display: block;
  /*position: absolute;*/
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /*background-image: url("src\assets\images\bg2.jpg");*/
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 10% 10%;
  background-size: cover;

}
.fullscreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: lime; /* Just to visualize the extent */
  height: 100%;
  width: 100%;
    /* Set the height to match that of the viewport. */
   height: 100vh;

   /* Set the width to match that of the viewport. */
   width: 100vw;
   margin: 0;

}

.vision{
  color:white;
}

.vision .card {
    background-color: #a94906!important;
    position: absolute;
    margin-top: -100px;
  }
