<!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron">
       <div class="container">
         <h1 class="display-3">About Us</h1>
         <p>iMuhiraOpenSource est Une initiative née d’une retrouvaille de deux professionnels de l’informatique Burundais et ancien camarade de classe (Didier Kekenwa & Fiacre Nsanzabandi). L’un vivant au Burundi et l’autre évoluant en occident, ils sont stimulés par l’idée de la création d’une collaboration Open source pour le Burundi.</p>
         <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
       </div>
     </div>

     <div class="container">
       <!-- Example row of columns -->
       <div class="row">
         <div class="col-md-4">
           <h2>Vision</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-4">
           <h2>Mission</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-4">
           <h2>Objectif</h2>
           <p>Son objectif premier est de proposer/porter des applications open source qui répondraient aux besoins burundais des différents acteurs (administrations publiques, institutions privées, population, diaspora, etc.)</p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
       </div>

       <hr>

     </div> <!-- /container -->
