<br>
<br>
<div class="container">
  <h1>
    {{ 'join.us.page.title' | translate }}
  </h1>
  <p>
    {{ 'join.us.page.subtitle' | translate }}
  </p>

  <p>
    {{ 'join.us.introduction' | translate }}
  </p>
  <p>
    {{ 'join.us.introduction.1' | translate }}
  </p>
  <p>
    {{ 'join.us.introduction.2' | translate }}
  </p>
  <p>
    {{ 'join.us.introduction.3' | translate }}
  </p>
  <ul>
    <li> {{ 'join.us.introduction.4' | translate}}</li>
    <li> {{ 'join.us.introduction.5' | translate}}</li>
    <li> {{ 'join.us.introduction.6' | translate}}</li>
  </ul>
</div>
